@charset "UTF-8";

/* 메인  */
.main-layout{
	margin-top:30px;
	display:flex;
	justify-content: space-between;
}

/* 등록 폼 */
.main-form{
	display:flex;
	justify-content:center;
	padding: 0px 15px;
	width:85%;
}

.registration-form{
	position: relative;
	max-width: 850px;
	width: 100%;
	background: #fff;
	padding: 15px 55px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	margin-bottom: 10px;
}

.registration-form h1{
	font-size: 1.5rem;
	color: #333;
	font-weight: 500;
	text-align: center;
}

.registration-form .form{
	margin-top: 30px;
}

.registration-form .input-box{
	width: 100%;
	margin-top: 20px;
}

.input-box label{
	color: #333;
}

.form :where(.input-box input, .select-box){
	position: relative;
	height: 50px;
	width:100%;
	outline: none;
	font-size: 1rem;
	color: #707070;
	margin-top: 8px;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 0 15px;
}

.form .column{
	display: flex;
	column-gap: 15px;
}

.form .gender-box{
	margin-top: 20px;
}

.gender-box h3{
	color: #333;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 8px;
}

.form :where(.gender-option, .gender){
	display: flex;
	align-items: center;
	column-gap: 50px;
	flex-wrap: wrap;
}

.form .gender{
	column-gap: 5px;
	cursor: pointer;
}

.gender input{
	accent-color: #3b6bc9;
}

.form :where(.gender input,.gender label){
	cursor: pointer;
}

.address :where(input, .select-box){
	margin-top: 15px;
}

.select-box select{
	height: 100%;
	width: 100%;
	outline:none;
	border: none;
	color: #707070;
	font-size: 1rem;
}

.form button{
	color: #fff;
	font-size: 1rem;
	border:none;
	cursor:pointer;
	border-radius: 6px;
	font-weight: 400;
	margin-top: 10px;
	transition: all 0.2s ease;
	background-color: #3b6bc9;
}

.form .submit-button{
	margin-top: 30px;
	height: 55px;
	width: 100%;
}

.form button:hover{
	background-color: #3b3399;
}

/* Responsive  */
@media screen and (max-width: 500px){
	.form .column{
		flex-wrap: wrap;
	}
	
	.form :where(.gender-option, .gender){
		row-gap: 15px;
	}
}



/* 우측면 바  */
.right-sidebar{
	width:220px;
	display: inline-block;
}

.right-sidebar-contents{
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
}

.my-info{
	border: 1px solid #ddd;
	border-radius: 2px;
	color:#333;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	background-color: #eee;
}

.username{
	width:250px;
    padding:15px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.info-category{
	display: flex;
	justify-content: center;
	font-size: 10px;
	margin-bottom: 10px;
}

.info-category span{
	margin-right: 13px;
}

.gold-info{
	display: flex;
	justify-content: center;
	padding:10px;
	width:100%;
	height: 50px;
	background-color: #ddd;
	display: flex;
}

.gold-info div{
	color: #444;
	font-weight:600;
	font-size: 16px;
	display: flex;
	align-items: center;
}

.gold-info span{
	display: flex;
	align-items: center;
	font-size: 20px;
	margin-left: 15px;
}

.right-banner{
	margin: 20px 0px;
	height: 80px;
	width: 100%;
	border: 1px solid #eee;
}

.right-banner img{
	width: 100%;
	height: 100%;
}

.right-box{
	width:100%;
	padding:10px 15px;
	display: flex;
}

.right-box-detail{
	width:80%;
}

.desc-title{
	font-size:12px;
	margin:0px;
	color: black;
	width:100%;
    padding: 0px 10px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.right-box-cover{
	width:50px;
	height: 60px;
	border-radius: 5px;
}

.right-box-cover img{
	width:100%;
	height: 100%;
}

.recommend-list{
	border: 1px solid #ddd;
	border-radius: 2px;
	color:#333;
	font-size: 14px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
}

.recommend-header{
	padding:10px;
	background-color: #eee;
}

.recommend-header>a{
	font-size: 20px;
	font-weight: 500;
}

.recommend-item{
	height: 90px;
	padding: 10px;
	display: flex;
}

.recommend-img{
	width:50px;
	height: 70px;
	border-radius: 5px;
	margin-right: 10px;
}

.recommend-item div img{
	width:100%;
	height: 100%;
}

.recommend-desc{
	width:100px;
}

.recommend-desc span{
	margin: -5px 0px;
	display:inline-block;
	width:100%;
    color: #333;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

/* 댓글 창 */
.reply{
	margin-top: 20px;
	padding:10px;
}

.comments-content{
	border: 1px solid #ddd;
	border-radius: 5px;
	padding:20px;
}

.comment-form{
	margin-bottom: 50px;
}

.comment-header{
	height: 50px;
	display: flex;
	align-items: center;
}

.comment-item{
	margin-top: 10px;
	padding:10px;
	border-bottom: 1px solid #3b6bc9;
}

/* 공모전 등록 */

.date-form-contents{
	display: flex;
	align-items: center;
}

.date-form-contents p{
	width:100px;
	font-size: 20px;
	display:flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -5px;
}


.date-form{
	width: 40%;
}

/* UserPay */
.bottom-inner{
	display: flex;
	justify-content: center;
}

.bottom{
	display: flex;
	flex-direction:column;
	align-items:center;
}

.bottom h1{
	margin-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: 400px;
	width:75%;
	border-bottom: 1px solid #3b6bc9;
}

.bottom-inner button{
	width:200px;
	height: 80px;
	margin: 0px 10px;
}
