@charset "UTF-8";
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.sectind-flex {
	display: flex;	
	justify-content: flex-start;
}

.left-sidebar{
	width:240px;
	margin-right: 10px;
	margin-left: 0px;
}

.sidebar {
	top: 0;
	left: 0;
	height: 600px;
	width: 240px;
	padding: 6px 14px;
	border: 1px solid #ddd;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	border-radius: 12px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.sidebar .logo_content {
	border-bottom: 2px solid #3b6bc9;
}

.sidebar .logo_content .logo {
	color: black;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.logo_content .logo i {
	font-size: 28px;
	margin-right: 5px;
}

.logo_content .logo .logo_name {
	font-size: 20px;
	font-weight: 400;
}

.nav_list {
	border-radius: 8px;
	background: #fff;
}

.sidebar ul {
	margin-top: 20px;
}

.sidebar ul li {
	position: relative;
	margin: 0 5px;
	list-style: none;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.sidebar ul li a {
	color: black;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
}

.sidebar ul li i {
	height: 50px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;
}

.links_name:after {
	display: block;
	content: '';
	border-bottom: 2px solid #3b6bc9;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

.links_name:hover:after {
	transform: scaleX(1);
}