@charset "UTF-8";

	.section-title-wrap:first-child.form-title {
		margin-top: 40px;
	}
	.section-title-wrap.form-title {
		margin-bottom: 16px;
	}
	.section-title-wrap {
		min-height: 32px;
	}
	.btn.btn-line.btn-light-gray, .btn.btn-line.btn-round.btn-light-gray {
		background-color: #3b6bc9;
	}
	.form-group .form-value .btn-xsm {
    	border-radius: 4px;
	}
	.profile-img-upload-wrap .btn-wrap .btn {
	    width: 65px;
	    min-width: 65px;
	    height: 30px;
	    line-height: 28px;
	    text-align: center;
	}
	.right-wrap {
		bottom: 50%;
		position: absolute;
		right: 0;
		-webkit-transform: translateY(50%);
	}
	.icon-required {
		position: relative;
		display: inline-block;
		color: #666;
		padding-left: 11px;
		font-size: 1.4rem;
		letter-spacing: -0.35px;
	}
	.section-title-wrap:after {
		content: "";
		display: block;
		width: 100%;
		height: 0px;
		clear: both;
	}
	.form-wrap {
		padding: 20px 26px;
		border-top: 2px solid #3b6bc9;
		border-bottom: 1px solid #ededed;
	}
	.form-group:not(last-child), .form-group.row:not(last-child) {
		margin-bottom: 21px;
		border-bottom: 1px solid #ededed;
	}
	.form-group.row {
		margin: 0;
	}
	.row {
		display: flex;
	}
	profile-img-upload-wrap .profile-preview-wrap {
   		float: left;
	}
	.form-group .form-label-wrap {
		position: relative;
		width: 125px;
		line-height: 30px;
		margin-top: 5px;
	}
	.form-group .form-label-wrap .form-label {
		color: #111;
		font-weight: 400;
		font-size: 1.4rem;
		letter-spacing: -0.7px;
	}
	label {
		margin-bottom: 0;
	}
	.form-group .form-label-wrap + .form-value {
		width: calc(100% - 135px);
	}
	.form-group .form-value {
		min-height: 25px;
		margin-top: 5px;
	}
	.profile-img-upload-wrap.has-email {
		padding-left: 0;
	}
	.profile-img-upload-wrap {
		position: relative;
		display: inline-block;
		text-align: center;
	}
	.profile-img-upload-wrap .profile-preview-wrap {
		width: 86px;
		height: 86px;
		border-radius: 43px;
		background-position: 50% 50%;
	}
	.profile-preview-wrap {
		position: relative;
		display: inline-block;
		overflow: hidden;
		background-image: url(/assets/images/board/profile.png);
		border: 1px solid #ddd;
		border-radius: 33px;
		background-repeat: no-repeat;
		font-size: 0;
		background-position: 50% 50%;
	}
	.my-profile-form .form-group.my-profile-img .form-value.profile-img .btn-wrap {
   		font-size: 0;
	}
	.profile-img-upload-wrap .btn-wrap {
	    text-align: left;
	    margin-top: 13px;
	    margin-left: 19px;
	}
	.my-profile-form .form-group.my-profile-img .form-value.profile-img .btn-wrap .upload-btn-wrap {
	    overflow: hidden;
	    margin: 0 0 0 5px;
	    position: relative;
	    top: auto;
	    right: auto;
	    vertical-align: top;
	}	
	.profile-img-upload-wrap.has-email .email {
	    margin-top: 12px;
	    font-size: 1.1rem;
	    letter-spacing: -0.35px;
	}
	.profile-img-upload-wrap:after {
	    content: '';
	    display: block;
	    width: 100%;
	    height: 0px;
	    clear: both;
	}
	.form-group .form-label-wrap {
	    position: relative;
	    width: 125px;
	    line-height: 30px;
	}
	.form-group .form-label-wrap .form-label {
	    color: #111;
	    font-weight: 400;
	    font-size: 1.2rem;
	    letter-spacing: -0.7px;
	}
	.my-profile-form .form-group .form-value.has-btn input[type=text] {
		width: 318px;
	}
	.form-group .form-value.has-btn input[type=text] {
		float: left;
		height: 32px;
		line-height: 30px;
	}
	input[type=text] {
		background: #fff;
		padding: 0 10px;
		border: none;
		border-radius: 4px;
		font-size: 1.2rem;
		font-weight: 300;
		-webkit-appearance: none;
	}
	my-profile-form .form-group .form-value.has-btn:after {
	    content: '';
	    display: block;
	    width: 100%;
	    height: 0px;
	    clear: both;
	}