@charset "UTF-8";

* {
	box-sizing: border-box;
}

.cs--category {
	display: flex;
	align-items: center;
}

.cs--category ul {
	margin: 0 10px;
}

.cs--category ul li {
	display: inline-block;
	padding: 0 20px;
	border-left: 1px solid #d1d4d6;
}

.cs--category ul li a {
	font-size: 20px;
}

.cs--container--title {
	display: flex;
}

.cs--container {
	margin: 50px 50px;
}

.cs--title h3 {
	font-size: 40px;
	padding: 10px;
}

a {
	color: #212121;
}