@charset "UTF-8";

table.table {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	box-sizing: border-box;
	width: 900px;
	margin-left: 15px;
	margin-top: 20px;
}

table.table thead th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #036;
	border-bottom: 3px solid #036;
}

table.table tbody th {
	width: 50px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #f3f6f7;
}

table.table td {
	width: 350px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	font-size: 17px;
}

.btncheck {
	border: none;
	background: none;
	cursor: pointer;
	font-size: 17px;
}

.btncheck:hover {
	font-weight: bold;
}