.wrapper {
  align-items: center;
  display: flex;
  height: 90%;
  justify-content: center;
  margin: 5%;
  width: 90%;
}

.aspect {
  padding-bottom: 70%;
  position: relative;
  width: 100%;
}

.aspect-inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content:center;
}

.flipbook {
  height: 100%;
  transition: margin-left 0.25s ease-out;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flipbook .page {
  height: 100%;
  width: 100%;
}

@media (max-width: 2000px) {
	.flipbook .page p {
  		max-width: 100%;
  		height: 100%;
  		font-size: 20px; 
  		padding:50px;
	}
	
	.flipbook .page h1 {
  		color: black;
		text-align: center;
		font-size: 30px;
		line-height: 300px;
		margin: 0px;
	}
	
	#book-body {
		width: 700px;
		height: 650px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: #eee;
	}

	#controls {
		width: 800px;
		text-align: center;
		margin: 20px 0px;
		font: 30px arial;
	}
}

@media (max-width: 1080px) {
	#book-body {
		width: 350px;
		height: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: #eee;
	}

	#controls {
		width: 400px;
		text-align: center;
		margin: 10px 0px;
		font: 10px arial;
	}
	
	.flipbook .page p {
  		max-width: 100%;
  		height: 100%;
  		font-size: 5px; 
  		padding: 5px;
	}
	
	.flipbook .page h1 {
  		color: black;
		text-align: center;
		font-size: 15px;
		line-height: 100px;
		margin: 0px;
	}
}

.novel-viewer{
	display: flex;
	justify-content: center;
}



.flipbook .odd {
	background-image: -webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image: -moz-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image: -o-linear-gradient(left, #FFF 95%, #ddd 100%);
	background-image: -ms-linear-gradient(left, #FFF 95%, #ddd 100%);
}

.flipbook .even {
	background-image: -webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image: -moz-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image: -o-linear-gradient(right, #FFF 95%, #ddd 100%);
	background-image: -ms-linear-gradient(right, #FFF 95%, #ddd 100%);
}

.close-fullscreen{
	display: none;
}
