@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	background-color: #3b6bc9;
	height: 30px;
}

section {
	width: 400px;
	width: 400px;
	margin: auto;
	padding: auto;
}

button {
	color: #fff;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	font-weight: 400;
	margin-top: 10px;
	transition: all 0.2s ease;
	background-color: #3b6bc9;
	padding: 10px 15px;
}

input {
	padding: 5px 15px;
	font-size: 1rem;
	border: 1px solid gray;
	border-radius: 5px;
}

.find--password--container {
	border-top: 1px solid gray;
}