@charset "UTF-8";

.main-content {
	box-sizing: border-box;
}

.dashboard-chart {
	display: flex;
	margin-top: 23px;
}

.sales-chart {
	border: 1px solid #ddd;
	height: 400px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	overflow: hidden;
	margin: 0.5rem;
}

.sales-chart h3, .genre-chart h3 {
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
    margin-top: 5px;
}

.genre-chart {
	border: 1px solid #ddd;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	overflow: hidden;
	margin: 0.5rem;
}

.card-flex {
	display: flex;
	margin-left: 10px;
}

.card1-body {
	display: flex;
	align-items: center;
	border: 1px solid #ddd;
	width: 300px;
	text-align: center;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	overflow: hidden;
	margin: 0.5rem;
	flex-direction: column;
	justify-content: center;
}

.card-title {
	font-size: 20px;
	line-height: 1.33;
	font-weight: 600;
}

.card-intro {
	margin-top: 0.75rem;
	line-height: 1.5;
	font-size: 20px;
}

.today--best li {
	font-size: 13px;
	font-weight: bold;
}
