@charset "UTF-8";

.faq--form--container{
 	margin-top: 20px;
	margin-left: 10px; 
}

.qna--header--form {
	display: flex;
	margin-top: 30px;
}

.qna--title {
	height: 40px;
	width: 400px;
	margin-top: 1px;
	border-radius: 5px;
}

.qna--category {
	height: 40px;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.qna--button {
	flex: 3;
	display: flex;
	justify-content: flex-end;
	height: 40px;	
}

input {
	border: 1px solid black;
	font-size: 15px;
	padding-top: 5px;
	
}

.qna--button button{
	width: 60px;
	margin-right: 10px;
	margin-top: 5px;
	background-color: #546E7A;
	border: none;
	border-radius: 3px;
	height: 35px; 
	color: #fff;
	font-size: 20px;	
}

.qna--title-form{
	display: flex;
}
